.navbar {
  background-color: #4c0d25;
  padding: 1rem 1.5rem;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo img {
  width: 180px;
}

.logo img:hover{
  transform: scale(1.05);
  transition: transform ease-out 0.5s;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.2rem;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: color 0.3s ease, transform 0.3s ease;
}

.nav-links a:hover {
  color: #ffcccb;
}

.nav-links a.active {
  border-bottom: 2px solid #ffcccb;
}

.profile {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.profile input {
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 0.9rem;
}

.user{
  text-decoration: none;
  display: block;
  color: white;
  font-weight: 500;
  transition: color 0.3s ease, transform 0.3s ease;
}

.user:hover {
  color: #ffcccb;
}

.user.active {
  border-bottom: 2px solid #ffcccb;
}

.profile-hidden{
  display: none;
}

/* Hamburger menu */
.hamburger {
  display: none;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}

/* Responsive styles */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #4c0d25;
    padding: 1rem 0;
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: block;
  }

  .profile {
    display: none;
  }

  .profile-hidden{
    display: block;
    width: max-content;
  }
}
